.BTN
  margin auto
  font-size 1.1rem
  border 1px solid #4688F1
  padding 0.6rem 1rem 0.4rem
  background #4688F1
  &, &:focus, &:active, &:hover
    color #fff
  &:focus
    border-color #069
    background #39e
    box-shadow 0 0 1rem rgba(0, 0, 0, 0.2) inset
  &:hover
    border-color #23c
    box-shadow 0 0 0.5rem inset rgba(0, 0, 0, 0.5)
  &:active
    box-shadow 0 0 1rem inset rgba(0, 0, 0, 0.5)
    background darken(#4688F1,10%)
