// html *, html *:before, html *:after
// box-sizing border-box
// 
// ::selection
// background #fd2
// 
html
  scroll-behavior smooth

html, body
  min-height 100%
  display flex
  background #fff
  justify-content center
  overflow hidden

body>main
  display flex
  width 100%
  height 100%
  align-items center
  justify-content center

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, hr, article, aside, details, figcaption, figure, footer, header, menu, nav, section
  margin 0
  padding 0
