.ant-btn
  height 2.3rem
  line-height 2.3rem
  &:not([disabled]):active
    box-shadow 0 0 6px inset rgba(0,0,0,.5)

.ant-btn-primary
  border-width 2px
  &:focus
    background-color #06f
    border-color #00f
    box-shadow 0 0 6px inset #00f
  &:hover
    background #03f
    border-color darken(@background,30%)
  &:active
    background #4688F1

