.ant-dropdown-menu
  border 1px solid #eee
  padding .2rem 0
  user-select none
  .ant-dropdown-menu-item
    font-size .85rem
    padding 0 .25rem
    line-height 1.55rem
    a
      margin 0
      padding-top .5rem


