.scrollbar>div>div>main
  display flex
  width 100%
  flex-direction column
  align-items center

  h1 > a, &>footer>a
    user-select none
    color #000
    margin-bottom 2.3rem

    &:hover
      color #f40

  &>footer>a:hover
    &>h1, &>h2
      color #f40

  &>i.logo
    height 0
    margin 0 2.3rem 2rem
    width 100%
    padding-bottom 38%
    background url('~@/file/img/svg/logo.svg') 50% 50% / cover no-repeat

  &>footer
    font-family h
    margin-left 2.3rem
    margin-right 2.3rem
    margin-bottom 1rem
    display flex
    text-align center
    flex-direction column
