.gg.bookmark, .gg.bookmark::after
  display block
  box-sizing border-box

.gg.bookmark
  border 2px solid
  border-bottom 0
  overflow hidden
  position relative
  width 16px
  height 21px
  top 1px

.gg.bookmark::after
  content ''
  position absolute
  width 13px
  height 14px
  border-top 2px solid
  border-right 2px solid
  transform rotate(-45deg)
  top 12px
  left 0px
