.gg.plus, .gg.plus::after
  display block
  box-sizing border-box
  background currentColor
  border-radius 10px
.gg.plus
  margin-top -2px
  position relative
  width 16px
  height 2px
.gg.plus::after
  content ''
  position absolute
  width 2px
  height 16px
  top -7px
  left 7px
